<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Cecilia's Notes</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Cecilia's Notes Notebook</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.ceciliasnotes.notebook</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>a</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-a</string>
					<string>Icon-a-60</string>
					<string>Icon-a-76</string>
					<string>Icon-a-120</string>
					<string>Icon-a-152</string>
					<string>Icon-a-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>b</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-b</string>
					<string>Icon-b-60</string>
					<string>Icon-b-76</string>
					<string>Icon-b-120</string>
					<string>Icon-b-152</string>
					<string>Icon-b-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>c</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-c</string>
					<string>Icon-c-60</string>
					<string>Icon-c-76</string>
					<string>Icon-c-120</string>
					<string>Icon-c-152</string>
					<string>Icon-c-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>d</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-d</string>
					<string>Icon-d-60</string>
					<string>Icon-d-76</string>
					<string>Icon-d-120</string>
					<string>Icon-d-152</string>
					<string>Icon-d-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>e</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-e</string>
					<string>Icon-e-60</string>
					<string>Icon-e-76</string>
					<string>Icon-e-120</string>
					<string>Icon-e-152</string>
					<string>Icon-e-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>f</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-f</string>
					<string>Icon-f-60</string>
					<string>Icon-f-76</string>
					<string>Icon-f-120</string>
					<string>Icon-f-152</string>
					<string>Icon-f-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>g</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-g</string>
					<string>Icon-g-60</string>
					<string>Icon-g-76</string>
					<string>Icon-g-120</string>
					<string>Icon-g-152</string>
					<string>Icon-g-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>h</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-h</string>
					<string>Icon-h-60</string>
					<string>Icon-h-76</string>
					<string>Icon-h-120</string>
					<string>Icon-h-152</string>
					<string>Icon-h-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>i</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-i</string>
					<string>Icon-i-60</string>
					<string>Icon-i-76</string>
					<string>Icon-i-120</string>
					<string>Icon-i-152</string>
					<string>Icon-i-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>j</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-j</string>
					<string>Icon-j-60</string>
					<string>Icon-j-76</string>
					<string>Icon-j-120</string>
					<string>Icon-j-152</string>
					<string>Icon-j-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>k</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-k</string>
					<string>Icon-k-60</string>
					<string>Icon-k-76</string>
					<string>Icon-k-120</string>
					<string>Icon-k-152</string>
					<string>Icon-k-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>l</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-l</string>
					<string>Icon-l-60</string>
					<string>Icon-l-76</string>
					<string>Icon-l-120</string>
					<string>Icon-l-152</string>
					<string>Icon-l-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>m</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-m</string>
					<string>Icon-m-60</string>
					<string>Icon-m-76</string>
					<string>Icon-m-120</string>
					<string>Icon-m-152</string>
					<string>Icon-m-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>n</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-n</string>
					<string>Icon-n-60</string>
					<string>Icon-n-76</string>
					<string>Icon-n-120</string>
					<string>Icon-n-152</string>
					<string>Icon-n-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>o</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-o</string>
					<string>Icon-o-60</string>
					<string>Icon-o-76</string>
					<string>Icon-o-120</string>
					<string>Icon-o-152</string>
					<string>Icon-o-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>p</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-p</string>
					<string>Icon-p-60</string>
					<string>Icon-p-76</string>
					<string>Icon-p-120</string>
					<string>Icon-p-152</string>
					<string>Icon-p-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>q</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-q</string>
					<string>Icon-q-60</string>
					<string>Icon-q-76</string>
					<string>Icon-q-120</string>
					<string>Icon-q-152</string>
					<string>Icon-q-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>r</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-r</string>
					<string>Icon-r-60</string>
					<string>Icon-r-76</string>
					<string>Icon-r-120</string>
					<string>Icon-r-152</string>
					<string>Icon-r-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>s</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-s</string>
					<string>Icon-s-60</string>
					<string>Icon-s-76</string>
					<string>Icon-s-120</string>
					<string>Icon-s-152</string>
					<string>Icon-s-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>t</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-t</string>
					<string>Icon-t-60</string>
					<string>Icon-t-76</string>
					<string>Icon-t-120</string>
					<string>Icon-t-152</string>
					<string>Icon-t-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>u</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-u</string>
					<string>Icon-u-60</string>
					<string>Icon-u-76</string>
					<string>Icon-u-120</string>
					<string>Icon-u-152</string>
					<string>Icon-u-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>v</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-v</string>
					<string>Icon-v-60</string>
					<string>Icon-v-76</string>
					<string>Icon-v-120</string>
					<string>Icon-v-152</string>
					<string>Icon-v-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>w</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-w</string>
					<string>Icon-w-60</string>
					<string>Icon-w-76</string>
					<string>Icon-w-120</string>
					<string>Icon-w-152</string>
					<string>Icon-w-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>x</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-x</string>
					<string>Icon-x-60</string>
					<string>Icon-x-76</string>
					<string>Icon-x-120</string>
					<string>Icon-x-152</string>
					<string>Icon-x-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>y</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-y</string>
					<string>Icon-y-60</string>
					<string>Icon-y-76</string>
					<string>Icon-y-120</string>
					<string>Icon-y-152</string>
					<string>Icon-y-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>z</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-z</string>
					<string>Icon-z-60</string>
					<string>Icon-z-76</string>
					<string>Icon-z-120</string>
					<string>Icon-z-152</string>
					<string>Icon-z-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>a</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-a</string>
					<string>Icon-a-60</string>
					<string>Icon-a-76</string>
					<string>Icon-a-120</string>
					<string>Icon-a-152</string>
					<string>Icon-a-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>b</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-b</string>
					<string>Icon-b-60</string>
					<string>Icon-b-76</string>
					<string>Icon-b-120</string>
					<string>Icon-b-152</string>
					<string>Icon-b-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>c</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-c</string>
					<string>Icon-c-60</string>
					<string>Icon-c-76</string>
					<string>Icon-c-120</string>
					<string>Icon-c-152</string>
					<string>Icon-c-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>d</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-d</string>
					<string>Icon-d-60</string>
					<string>Icon-d-76</string>
					<string>Icon-d-120</string>
					<string>Icon-d-152</string>
					<string>Icon-d-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>e</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-e</string>
					<string>Icon-e-60</string>
					<string>Icon-e-76</string>
					<string>Icon-e-120</string>
					<string>Icon-e-152</string>
					<string>Icon-e-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>f</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-f</string>
					<string>Icon-f-60</string>
					<string>Icon-f-76</string>
					<string>Icon-f-120</string>
					<string>Icon-f-152</string>
					<string>Icon-f-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>g</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-g</string>
					<string>Icon-g-60</string>
					<string>Icon-g-76</string>
					<string>Icon-g-120</string>
					<string>Icon-g-152</string>
					<string>Icon-g-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>h</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-h</string>
					<string>Icon-h-60</string>
					<string>Icon-h-76</string>
					<string>Icon-h-120</string>
					<string>Icon-h-152</string>
					<string>Icon-h-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>i</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-i</string>
					<string>Icon-i-60</string>
					<string>Icon-i-76</string>
					<string>Icon-i-120</string>
					<string>Icon-i-152</string>
					<string>Icon-i-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>j</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-j</string>
					<string>Icon-j-60</string>
					<string>Icon-j-76</string>
					<string>Icon-j-120</string>
					<string>Icon-j-152</string>
					<string>Icon-j-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>k</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-k</string>
					<string>Icon-k-60</string>
					<string>Icon-k-76</string>
					<string>Icon-k-120</string>
					<string>Icon-k-152</string>
					<string>Icon-k-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>l</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-l</string>
					<string>Icon-l-60</string>
					<string>Icon-l-76</string>
					<string>Icon-l-120</string>
					<string>Icon-l-152</string>
					<string>Icon-l-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>m</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-m</string>
					<string>Icon-m-60</string>
					<string>Icon-m-76</string>
					<string>Icon-m-120</string>
					<string>Icon-m-152</string>
					<string>Icon-m-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>n</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-n</string>
					<string>Icon-n-60</string>
					<string>Icon-n-76</string>
					<string>Icon-n-120</string>
					<string>Icon-n-152</string>
					<string>Icon-n-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>o</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-o</string>
					<string>Icon-o-60</string>
					<string>Icon-o-76</string>
					<string>Icon-o-120</string>
					<string>Icon-o-152</string>
					<string>Icon-o-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>p</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-p</string>
					<string>Icon-p-60</string>
					<string>Icon-p-76</string>
					<string>Icon-p-120</string>
					<string>Icon-p-152</string>
					<string>Icon-p-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>q</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-q</string>
					<string>Icon-q-60</string>
					<string>Icon-q-76</string>
					<string>Icon-q-120</string>
					<string>Icon-q-152</string>
					<string>Icon-q-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>r</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-r</string>
					<string>Icon-r-60</string>
					<string>Icon-r-76</string>
					<string>Icon-r-120</string>
					<string>Icon-r-152</string>
					<string>Icon-r-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>s</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-s</string>
					<string>Icon-s-60</string>
					<string>Icon-s-76</string>
					<string>Icon-s-120</string>
					<string>Icon-s-152</string>
					<string>Icon-s-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>t</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-t</string>
					<string>Icon-t-60</string>
					<string>Icon-t-76</string>
					<string>Icon-t-120</string>
					<string>Icon-t-152</string>
					<string>Icon-t-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>u</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-u</string>
					<string>Icon-u-60</string>
					<string>Icon-u-76</string>
					<string>Icon-u-120</string>
					<string>Icon-u-152</string>
					<string>Icon-u-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>v</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-v</string>
					<string>Icon-v-60</string>
					<string>Icon-v-76</string>
					<string>Icon-v-120</string>
					<string>Icon-v-152</string>
					<string>Icon-v-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>w</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-w</string>
					<string>Icon-w-60</string>
					<string>Icon-w-76</string>
					<string>Icon-w-120</string>
					<string>Icon-w-152</string>
					<string>Icon-w-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>x</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-x</string>
					<string>Icon-x-60</string>
					<string>Icon-x-76</string>
					<string>Icon-x-120</string>
					<string>Icon-x-152</string>
					<string>Icon-x-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>y</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-y</string>
					<string>Icon-y-60</string>
					<string>Icon-y-76</string>
					<string>Icon-y-120</string>
					<string>Icon-y-152</string>
					<string>Icon-y-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>z</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-z</string>
					<string>Icon-z-60</string>
					<string>Icon-z-76</string>
					<string>Icon-z-120</string>
					<string>Icon-z-152</string>
					<string>Icon-z-167</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CeciliasNotes</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.ceciliasnotes</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ceciliasnotes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_cn-sync._tcp</string>
		<string>_cn-sync._udp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Cecilia's Notes lets you photograph and insert images directly into your notes.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Cecilia's Notes uses the local network to sync notebooks with your nearby iPhone, iPad, or Mac — no cloud round-trip needed.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cecilia's Notes records audio for your notes. Recordings are stored on your device and never uploaded.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cecilia's Notes lets you insert photos from your photo library into your notes.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Cecilia's Notes transcribes your recordings locally on your device using Apple's speech recognition.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>app.ceciliasnotes.page</string>
	</array>
	<key>UIAppFonts</key>
	<array/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cecilia's Notes Notebook</string>
			<key>UTTypeIdentifier</key>
			<string>app.ceciliasnotes.notebook</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ceciliabook</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
